# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Machine Learning models
*.joblib
!weather/services/nlp/intent_model.joblib