{% extends "base.html" %}

{% block title %}
Weather Chatbot
{% endblock %}

{% block content %}

{% load tz %}
<div class="chat-container">

    <div class="weather-card">

        <h2>🌤 Weather</h2>

        {% if response and response.weather %}

            <h3>{{ response.weather.city }}</h3>

            <p>{{ response.weather.temperature }}°C</p>

            <p>{{ response.weather.description }}</p>

            <p>Humidity: {{ response.weather.humidity }}%</p>

            <p>Wind: {{ response.weather.wind_speed }} m/s</p>

        {% else %}

            <p>No weather searched yet.</p>

        {% endif %}

    </div>

    <div class="chat-card">

        <div class="chat-header">

            Welcome {{ request.user.username }} 👋

        </div>

        <div class="chat-body" id="chat-body">
 {% if chats %}

            {% for chat in chats %}

                <div class="user-message">
                    {{ chat.user_message }}
                </div>

                <span class="message-time">
                    {{ chat.created_at|localtime|date:"M d, Y H:i A" }}
                </span>

                <div class="bot-message">
                    {{ chat.bot_response }}
                </div>
                <span class="message-time">
                    {{ chat.created_at|localtime|date:"M d, Y H:i A" }}
                </span>

            {% endfor %}

        {% else %}

            <p class="welcome-message">
                👋 Ask me about the weather!
            </p>

        {% endif %}

    </div>

        <div class="chat-footer">

            <form id="chat-form" method = "POST">
                {% csrf_token %}

                {{ form.message }}

                <button type="submit">
                     Send
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}